{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<script src="{{ STATIC_URL }} /static/js/jquery.min.js"></script>
    	<script src="{{ STATIC_URL }} /static/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}">
        
        {% block extrahead %}{% endblock %}
<!--    TO LOOK FOR ICONS    https://fontawesome.bootstrapcheatsheets.com/#-->
		<title>Aion Wristwatches Staff Site</title>
	</head>
    {% block extrascript %}
    {% endblock %}
	<body>
        {% if user.is_authenticated and user.usertypes != 'Customer' %}
		<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" >
            {% if user.usertypes == 'Administrator'%}
  			<a id="id_title" class="navbar-brand ml-5" href="/adminman/">
  				<img src="{{ STATIC_URL }} /static/brand/watch.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
  				Aion Wristwatches Staff 
  			</a>

			{% elif user.usertypes == 'ProductManager'%}
			<a id="id_title1" class="navbar-brand ml-5" href="/prodman/">
  				<img src="{{ STATIC_URL }} /static/brand/watch.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
  				Aion Wristwatches Staff
  			</a>
			{% else %}
			<a id="id_title2" class="navbar-brand ml-5" href="/acctman/">
  				<img src="{{ STATIC_URL }} /static/brand/watch.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
  				Aion Wristwatches Staff
  			</a>
			{% endif %}
<!--
	  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    		<ul class="navbar-nav ml-auto">
	    			
	    			{% if user.is_authenticated %}
	    				
	    			{% endif %}
	    		</ul>
	  		</div>
-->
             <div id="user-tools" class="col-9">
                 <small>
                     <bold id="id_navitems">Welcome,</bold>
                    <strong id="id_navitems" class="text-uppercase">{{user.username}}</strong>.        
                    <a id="id_navitem" href="{% url 'ecommerce:changepass' %}">Change password</a> /
                    <a id="id_navitem" href="{% url 'ecommerce:loginmanager' %}">Log out</a>
                </small>
            </div>
		</nav>
      {%endif%}
     
	
    	{% block body %}
    	{% endblock %}
	</body>
</html>