{% extends 'ecommerce/extends/header3.html' %}
{% load static %}
{% block extrahead %}
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" > 
  <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="{% static 'css/editpman.css' %}">
{% endblock%}
  
{% block body %}
<div id="accttab" class="container mt-5 " >
        <div class="card">
            <div id="title" class="card-header"><strong class="p-3">ADD NEW PRODUCT MANAGER</strong></div>
            <div class = "card-body">
               <form action="#" method="POST">
                <ul class="list-group list-group-flush">
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">First Name</div>
                        <input class="col-8" type="text" value="" name="first" pattern="^[A-Za-z]+$" required/>
                    </li>
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">Last Name</div>
                        <input class="col-8" type="text" value="" name="last" pattern="^[A-Za-z]+$" required/>
                    </li>
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">Username</div>
                        <input class="col-8" type="text" value="" name="username" pattern="^(\w([,.+-@]*[a-zA-Z0-9])*){5,150}" >
                    </li>
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">Password</div>
                        <input class="col-8" type="password" value="" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required/>
                    </li>
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">Retype Password</div>
                        <input class="col-8" type="password" value="" name="cpassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required/>
                    </li>
                    <li  class="list-group-item d-inline-flex ">
                        <div class="col-3">Email</div>
                        <input class="col-8" type="text" value="" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required/>
                    </li>

                </ul>
                   {% if alert %}
                    {{ alert }}
                {% endif %}
                {% csrf_token %}
                <div class="text-center mt-1 pt-2">
                    <input type="submit" class="btn btn-primary" value="SAVE"/>
                </div>
                
               </form>
            </div>
        </div>
    </div>
{%endblock%}