{% extends 'ecommerce/extends/header2.html' %}
{% load humanize %}

{% load static %}
{% block extrahead %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
   <link href="shipping.css" type="text/css" rel="stylesheet">
{% endblock%}
{% block extrascript%}
    <script>
    function prev(){
        window.history.go(-1);
        return false;
    }
    $(document).ready( function(){
        var price = document.getElementById('price').value;
        var install = price/24.0;
        $("#subtotal").html(parseFloat(price).toFixed(2).toLocaleString());
        $("#install").html(install.toFixed(2).toLocaleString());
        $("#grandtotal").html(parseFloat(price).toFixed(2).toLocaleString());
        $("#total").attr("value", parseFloat(price));
		
    });
	

    $(document).on('click','#spinner div',function(){
        var qty = document.getElementsByClassName('qty');
        var i = 0;
        var price = document.getElementById('price').value;
        var quantity = parseInt(qty[i].getAttribute('value'));
        var subtotal,install = 0;


        if(this.getAttribute('data-action') === 'up') {
            if(quantity < parseInt(qty[i].getAttribute('max')))
            qty[i].setAttribute('value',parseInt(qty[i].getAttribute('value'), 10) + 1);

        }
        else{
            if (quantity > parseInt(qty[i].getAttribute('min'))) {
                qty[i].setAttribute('value',parseInt(qty[i].getAttribute('value'), 10) - 1);
            }
        }
        subtotal = parseFloat(parseInt(qty[i].getAttribute('value'))*price);
        install = subtotal/24.0;

        $("#subtotal").html(subtotal.toFixed(2).toLocaleString());
        $("#install").html(install.toFixed(2).toLocaleString());
        $("#grandtotal").html(subtotal.toFixed(2).toLocaleString());
        $("#total").attr("value", subtotal);

    });

    function formsubmit() {
		
    
		if(document.getElementById("myForm").checkValidity()){
			
		}
    
    }

    </script>
{% endblock%}
{% block body %}
{% if user.is_authenticated and user.usertypes == "Customer" %}
{% if product.quantity > 0 %}

 <form action="#" method="POST" id="myForm">
    {% csrf_token %}
<div class="d-flex flex-column">
    <div id="continue" class="mt-3">
        <a href="/" role="button" class="pull-left text-success" style="text-decoration: none;">
            <small><i id="continuebtn" class="fa fa-angle-left ml-5" ></i>&nbsp;&nbsp;<strong>Cancel</strong></small>
        </a>

    </div>

   
    <div class="d-flex container-fluid">
        <div class="col-md-9 col">

            <div class="ml-4 mt-3 my-2 container" >
                <div class="card-header">
                    <div class="ml-auto row">
                        <div class="col-5"><strong>ITEM</strong></div>
                        <div class="col"><strong>PRICE</strong></div>
                        <div class="col-3"><strong>ITEM/S LEFT</strong></div>
                        <div class="col"><strong>QUANTITY</strong></div>
                    </div>
                </div>
                <div class="ml-auto mt-3 container row"  >
                    <div class="col-5 d-flex" >
                        <img src="{{ product.image.url }}"  style="width: 150px; height:150px;"/>
                        <div class="mt-3" style="overflow: hidden; text-overflow: ellipsis;">
                            <div><strong>{{product.prodname}}</strong></div>
                            <div style="overflow: hidden; text-overflow: ellipsis;" >{{product.description}}</div>
                        </div>
                    </div>
                    <div class="col mt-3"><strong>&#x20B1 {{product.price|intcomma}}</strong></div>
                    <div class="col mt-3"><strong>{{product.quantity}} pc/s</strong></div>
                    <div class="col mt-3">
                        <div  id="spinner" class="input-group number-spinner">
                            <span class="input-group-btn data-dwn">
                                <div id="id_down" class="btn btn-success" data-action="dwn"><i id="minus" class="fa fa-minus"></i></div>
                            </span>
                            <input type="number" id="price" value="{{product.price}}" hidden/>

                            <input type="number" name="productid" value="{{product.id}}" hidden/>
                            <input type="number" name="quantity" class="qty form-control text-center" value="1" min="1" max="{{product.quantity}}" readonly>

                            <span class="input-group-btn data-up">
                                <div id="id_up" class="btn btn-success" data-action="up"><i class="fa fa-plus"></i></div>
                            </span>
                        </div>
                    </div>
                </div>
                <hr/>

            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-block">
                    <div class="card-header">Order Summary</div>
                    <div class="card-body">
                        <div class="card-text">Subtotal&nbsp;&nbsp;<strong>&#x20B1<span id="subtotal"> 0.00</span></strong></div>
                        <hr/>
                        <div class="card-text">Installments &nbsp;&nbsp;<strong>&#x20B1 <span id="install"> 0.00</span> x 24</strong></div>
                    </div>

                    <div class="card-footer">Grand Total &nbsp;&nbsp;<strong>&#x20B1<span id="grandtotal"> 0.00</span></strong></div>
                    <input type="hidden" name="total" id="total">
                </div>
            </div>
            <div class="text-center"><a href="#confirm" data-toggle="modal" id="nextstep" role="button" class="mt-3 btn-block btn btn-success btn-lg">Purchase</a></div>
        </div>
    </div>
    <div class="container ml-5">
        <div class="row">
             <div class="col-12">
                <h3><strong>Payment Details</strong></h3>
            </div>
            
            <div class="col-5">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                    Name on card is required
                </div>
            </div>

            <div class="col-5">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" size="16" maxlength="16" pattern="\d{16}$" title="Must contain 16 numerical digits" placeholder="" required>
				<small class="text-muted">Must contain 16 numerical digits</small>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-2">
                <label for="month">Expiration Month</label>
                <select class="custom-select d-block w-100" id="month" required>
                    <option value="" selected disabled> </option>
                    <option>JAN</option>
                    <option>FEB</option>
                    <option>MAR</option>
                    <option>APR</option>
                    <option>MAY</option>
                    <option>JUN</option>
                    <option>JUL</option>
                    <option>AUG</option>
                    <option>SEP</option>
                    <option>OCT</option>
                    <option>NOV</option>
                    <option>DEC</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid month.
                </div>
            </div>

            <div class="col-2">
                <label for="year">Expiration Year</label>
                <select class="custom-select d-block w-100" id="year" required>
                    <option value="" selected disabled> </option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                </select>
                <div class="invalid-feedback">
                    Expiration year required
                </div>
            </div>

            <div class="col-2">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" size="3" maxlength="3" pattern="\d{3}$" title="Must contain 3 numerical digits" placeholder="" required>
                <small class="text-muted">Must contain 3 numerical digits</small>
				<div class="invalid-feedback">
                    Security code required
                </div>
            </div>

        </div>
    </div>
	 
	<div class="container ml-5 mt-3">
        <div class="row">
             <div class="col-12">
                <h3><strong>Billing Details</strong></h3>
            </div>
            
            <div class="col-3">
                <label for="cc-name">House #</label>
                <input type="text" class="form-control" id="cc-name" value="{{user.bhouse_num}}" required>
                <div class="invalid-feedback">
                    This is field is required
                </div>
            </div>
		</div>
	</div>
</div>

<div class="content modal fade" id="confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Confirm</strong></h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-right">
                <button onclick="formsubmit();" class="btn btn-success">Proceed</button>
                <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
</form>
<script>
    (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
	  
</script>
<!--%else%}-->
<!--<div class="container">-->
    <!--<div class="text-center m-5">-->
        <!--<h3>There are no items in this cart.</h3>-->
        <!--<a href="#" onclick="prev();" role="button" style="background-color: #17a2b8;" class="mt-3  btn btn-primary btn-lg">CONTINUE SHOPPING</a>-->
    <!--</div>-->
<!--</div>-->

{%else%}
<div class="container mt-5 text-center">
	<i class=" fa fa-exclamation-circle" style="color:red;  font-size: 60px;"></i>
	<h1 ><strong>OUT OF STOCK</strong></h1>
</div>
{%endif%}
{% else %}
<div class="container">
    <div class="text-center m-5">
        <h1>

            <i class="fa fa-exclamation-triangle" style="color: red; font-size: 60px;"></i>
            <strong >&nbsp; PLEASE LOGIN TO CONTINUE</strong>
        </h1>

        <a href="#" onclick="prev();" role="button" class="mt-3 btn btn-outline-success btn-lg">CONTINUE SHOPPING</a>
    </div>
</div>

{% endif %}
<script>
    function submit(){
        document.getElementById('myForm').submit();
    }
</script>
{% endblock %}
