{% extends 'ecommerce/extends/header.html' %}


{% block body %}
<div id="analogtab" class="main-container">
	<div id="content" class="container py-5">
        
		<h3>Analog</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Analog' and product.is_active%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}" class="text-center"><img class="card-img-top" src="{{ product.image.url }}" style="max-width: 200px;"></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
	    			<p class="card-text text-muted">{{ product.quantity }} item/s left</p>
					<center><a href="{% url 'ecommerce:checkout' product.id %}" class="card-link font-weight-bold"><button id="id_buy" class="btn btn-success text-uppercase">Buy Now</button></a></center>
	  			</div>

			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>
   
</div>
<div id="digitaltab" class="main-container">
	<div id="content" class="container py-5">

		<h3>Digital</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Digital' and product.is_active%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}"><img class="card-img-top" src="{{ product.image.url }}"/></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
	    			<p class="card-text text-muted">{{ product.quantity }} item/s left</p>
	    			<center><a href="{% url 'ecommerce:checkout' product.id %}" class="card-link font-weight-bold"><button id="id_buy" class="btn btn-success text-uppercase">Buy Now</button></a></center>
	  			</div>
			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>

</div>
<div id="smarttab" class="main-container">
	<div id="content" class="container py-5">

		<h3>Smart</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Smart' and product.is_active%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}"><img class="card-img-top" src="{{ product.image.url }}"></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
	    			<p class="card-text text-muted">{{ product.quantity }} item/s left</p>
	    			<center><a href="{% url 'ecommerce:checkout' product.id %}" class="card-link font-weight-bold"><button id="id_buy" class="btn btn-success text-uppercase">Buy Now</button></a></center>
	  			</div>

			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}