{% extends 'ecommerce/extends/header.html' %}


{% block body %}
<div id="analogtab" class="main-container">
	<div id="content" class="container py-5">
        
		<h3>Analog</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Analog'%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}"><img class="card-img-top" src="{{ product.image.url }}"></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
					<center><a href="{% url 'ecommerce:checkout' product.id %}" class=" card-link  font-weight-bold"><button id="id_buy" class="btn btn-outline-success text-uppercase text-center">Buy Now</button></a></center>
	  			</div>
	  			
			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>
   
</div>
<div id="digitaltab" class="main-container">
	<div id="content" class="container py-5">

		<h3>Digital</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Digital'%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}"><img class="card-img-top" src="{{ product.image.url }}"></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
	    			<center><button id="id_buy" class="btn btn-success text-center"><a href="#" class=" card-link text-uppercase  text-white font-weight-bold">Buy Now</a></button></center>
	  			</div>

			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>

</div>
<div id="smarttab" class="main-container">
	<div id="content" class="container py-5">

		<h3>Smart</h3>
		<div class="row">
			{% for product in product_list %}
			{%if product.category == 'Smart'%}
			<div class="card col-sm-3">
	  			<a href="{% url 'ecommerce:product' product.id %}"><img class="card-img-top" src="{{ product.image.url }}"></a>
	  			<div class="card-body">
	    			<a href="{% url 'ecommerce:product' product.id %}" style="text-decoration: none;"><h5 class="font-weight-bold text-dark card-title">{{ product.prodname }}</h5></a>
	    			<p class="card-text text-muted">{{ product.category }}</p>
	    			<center><button id="id_buy" class="btn btn-success ntext-center"><a href="#" class=" card-link text-uppercase  text-white font-weight-bold">Buy Now</a></button></center>
	  			</div>

			</div>
			{%endif%}
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}