<!DOCTYPE html>
{%load static %}
<html>
<head>
    <script src="{{ STATIC_URL }} /static/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }} /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <title> Staff Login </title>
    
    
</head>  
    
<body>
    <div class="header"><center><h1 class="mt-5" style="color: white;"><strong>AION WRISTWATCHES</strong></h1></center></div>
    <div class="main">
        <div class="text-center"><h5><strong>Staff Login</strong></h5></div>
        
        {% if erroruser == True %}
        <div class="alert alert-danger" role="alert">
            The username/password you entered did not match our records. Please try again.
        </div>
        {% endif %}
        
        <div class="container">

          <form class="form-signin" method="post">
            {% csrf_token %}
            <label for="id_username" class="sr-only">Username</label>
            <input id="id_username" name="username" class="form-control mt-3" placeholder="Username" required>
            <label for="id_password" class="sr-only">Password</label>
            <input id="id_password" name="password" class="form-control mt-1" placeholder="Password" required type="password">
             <button type="submit" class="btn btn-block btn-success mt-3">Login</button>
<!--              <input type="hidden" name="next" value="{{ next }}">-->
          </form>

        </div>
        
<!--
        <div id="id_forgot" class="mt-2" >
            <a href="/forgotpw/">Forgot password?</a>
        </div>
-->
    </div>
</body>
</html>