{% extends 'ecommerce/extends/header.html' %}
{%load static%}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/uacct.css' %}">
{% endblock %}
{% block extrascript%}
<script>
    $("#up").disabled = true;
    $(document).ready(function(){
        $("#pwdtab").hide();
        $("#addrtab").hide();
        $("#navbar1").hide();
    });
    function info(tab){
        if(tab=="acct")
        {
            $("#accttab").show();
            $("#pwdtab").hide();
            $("#addrtab").hide();
        }
        else if(tab=="pwd")
        {
            $("#pwdtab").show();
            $("#accttab").hide();
            $("#addrtab").hide();
        }
        else
        {
            $("#addrtab").show();
            $("#accttab").hide();
            $("#pwdtab").hide();
        }
    }

    function editAcc() {
        $("#fname").attr('disabled', false);
        $("#minitial").attr('disabled', false);
        $("#lname").attr('disabled', false);
        $("#uname").attr('disabled', false);
        $("#email").attr('disabled', false);
        $("#acctsub").attr('disabled', false);
    }

    function editAddr() {
        $("#bhouse_num").attr('disabled', false);
        $("#bstreet").attr('disabled', false);
        $("#bsubdivision").attr('disabled', false);
        $("#bcity").attr('disabled', false);
        $("#bpc").attr('disabled', false);
        $("#bcountry").attr('disabled', false);
        $("#addrsub").attr('disabled', false);

        $("#shouse_num").attr('disabled', false);
        $("#sstreet").attr('disabled', false);
        $("#ssubdivision").attr('disabled', false);
        $("#scity").attr('disabled', false);
        $("#spc").attr('disabled', false);
        $("#scountry").attr('disabled', false);
    }

</script>
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="main-container mt-5">
    <div class="container ml-5 col-3 pull-left" >
        <div class="card ">
            <div class="card-header col-auto text-center">
                <strong>Username</strong>
            </div>

            <div class="card-body text-center">
                <strong>@{{user.username}}</strong>
            </div>
        </div>
        <div class="card mt-lg-5">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" onclick="info(this.id);" id="acct" class="text-success" style="text-decoration: none;">Account</a></li>
              <li class="list-group-item"><a href="#" onclick="info(this.id);" id="pwd" class="text-success" style="text-decoration: none;">Password</a></li>
              <li class="list-group-item"><a href="#" onclick="info(this.id);" id="addr" class="text-success" style="text-decoration: none;">Address</a></li>
          </ul>
        </div>
    </div>
    <div id="accttab" class="container col-5 " >
        <div class="card">
            <div class="card-header"><strong class="p-3">ACCOUNT</strong><a href="#" onclick="editAcc();" class="pull-right text-success" style="text-decoration: none;">EDIT</a></div>
            <div class = "card-body">
                <form method="POST">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">First Name</div>
                            <input id="fname" name="fname" class="col-8" type="text" value="{{user.first_name}}" pattern="^[A-Za-z]+$" disabled />
                        </li>
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">Middle Initial</div>
                            <input id="minitial" name="minitial" class="col-8" type="text" value="{{user.middle_initial}}" pattern="^[A-Za-z]{1}$"disabled />
                        </li>
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">Last Name</div>
                            <input id="lname" name="lname" class="col-8" type="text" value="{{user.last_name}}" pattern="^[A-Za-z]+$" disabled />
                        </li>
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">Username</div>
                            <input id="uname" name="uname" class="col-8" type="text" value="{{user.username}}" pattern="^(\w([,.+-@]*[a-zA-Z0-9])*){5,150}" disabled />
                        </li>
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">Email</div>
                            <input id="email" name="email" class="col-8" type="text" value="{{user.email}}" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" disabled />
                        </li>

                    </ul>
                    <div class="text-center mt-1 pt-2"><input type="submit" id="acctsub" class="btn btn-success" value="Save" disabled /></div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
    <div id="pwdtab" class="container col-5 " >
        <div class="card">
            <div class="card-header"><strong class="p-3">PASSWORD</strong></div>
            <div class = "card-body">
                <form method="POST">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-inline-flex ">
                            <div class="col-3">Current Password</div>
                            <input class="col-8" id="currpass" name="currpass" type="password" value=""/>
                        </li>
                        <li  class="list-group-item d-inline-flex ">
                            <div class="col-3">New Password</div>
                            <input class="col-8" id="pass1" name="pass1" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" value=""/>
                        </li>
                        <li class="list-group-item d-inline-flex ">
                            <div class="col-3">Verify Password</div>
                            <input class="col-8" id="pass2" name="pass2" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"  value=""/>
                        </li>
                    </ul>
                    {% if alert %}
                    {{ alert }}
                {% endif %}
                    <div class="text-center mt-1 pt-2"><input type="submit" class="btn btn-success" value="Save"/></div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
    <div id="addrtab" class="container col-5 " >
        <div class="card">
            <div class="card-header"><strong class="p-3">ADDRESS</strong><a href="#" onclick="editAddr();" class="pull-right text-success" style="text-decoration: none;">EDIT</a></div>
            <div class = "card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class = "card-subtitle"> <strong class="p-3"> Billing Address </strong>
                        <ul class="list-group list-group-flush">
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">House #</div>
                                <input class="col-8" id="bhouse_num" name="bhouse_num" type="text" value="{{user.bhouse_num}}" pattern="^\d+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1">
                                <div class="col-3">Street</div>
                                <input class="col-8" id="bstreet" name="bstreet" type="text" value="{{user.bstreet}}" pattern="^[A-Za-z.]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Subdivision</div>
                                <input class="col-8" id="bsubdivision" name="bsubdivision" type="text" value="{{user.bsubdivision}}" pattern="^[A-Za-z.-_]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">City</div>
                                <input class="col-8" id="bcity" name="bcity" type="text" value="{{user.bcity}}" pattern="^[A-Za-z.-_]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Postal Code</div>
                                <input class="col-8" id="bpc" name="bpc" type="text" value="{{user.bpc}}" pattern="^\d{4}$"  disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Country</div>
                                <input class="col-8" id="bcountry" name="bcountry" type="text" value="{{user.bcountry}}" pattern="^[A-Za-z]+$" disabled />
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <div class = "card-subtitle mt-2"> <strong class="p-3"> Shipping Address </strong>
                        <ul class="list-group list-group-flush">
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">House #</div>
                                <input class="col-8" id="shouse_num" name="shouse_num" type="text" value="{{user.shouse_num}}" pattern="^\d+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1">
                                <div class="col-3">Street</div>
                                <input class="col-8" id="sstreet" name="sstreet" type="text" value="{{user.sstreet}}" pattern="^[A-Za-z.]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Subdivision</div>
                                <input class="col-8" id="ssubdivision" name="ssubdivision" type="text" value="{{user.ssubdivision}}" pattern="^[A-Za-z.-_]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">City</div>
                                <input class="col-8" id="scity" name="scity" type="text" value="{{user.scity}}" pattern="^[A-Za-z.-_]+$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Postal Code</div>
                                <input class="col-8" id="spc" name="spc" type="text" value="{{user.spc}}" pattern="^\d{4}$" disabled />
                            </li>
                            <li class=" d-inline-flex mt-1 ">
                                <div class="col-3">Country</div>
                                <input class="col-8" id="scountry" name="scountry" type="text" value="{{user.scountry}}" pattern="^[A-Za-z]+$" disabled />
                            </li>
                        </ul>
                    </div>
                    <div class="text-center mt-1 pt-2"><input type="submit" id="addrsub" class="btn btn-success" value="Save" disabled /></div>
                    <input type="hidden" name="next" value="{{ next }}"disabled>
                </form>
            </div>
        </div>
    </div>
   
</div>
{% endif %}
{% endblock %}

