#navbar1 
{
  overflow: hidden;
  background-color: #fff;
  max-height: 340px;
  border-bottom: 1px solid #a2a2a2;
  z-index: 2;
}

#navbar1 a {
  float: left;
  display: block;
  color: #828282;
  text-align: center;
  padding: 10px 16px;
  font-size: 17px;
}

#navbar1 a:hover {
  color: #28a745;
}

#navbar1 a.active {
  color: #28a745;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#content
{
  position: relative;
}

.progress-bar-warning {
    background-color: yellow;
}

.progress-bar-danger {
    background-color: red;
}

.progress-bar-success {
    background-color: green;
}